<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Template</title>
    <style>
        h1,h2,h3{text-align:center;
        border:2px solid brown;}
        h2{color:Red;
        background-color: bisque;}
        #hr1{border-color: aqua;
        width:85%;}
        #hr2{border-color: aqua;
        width:85%;}
        h1{background-color: bisque;}

    </style>
</head>
<body>
    <h1>Hello Client,Welcome To Django Template</h1>
    <hr id="hr1"/>
    <h1>Good Morning</h1>
    <hr id="hr2"/>
    <h2>Have A Nice Day</h2>
</body>
</html>